.principal{
	width: 900px;
}

.menu{
	background: #c5c5b2;
	padding: 18px;

}

body{
	background-image: url('imagens/fundo.png');
	font: 16px Arial, Helvetica, sans-serif;
}

a{
	color: #4b566a;
	text-decoration: none;
	font-weight: bold;
	padding: 5px;
}

.conteudo{
	background-color: white;
	padding: 10px;
}

.direitosreservados{
	text-align: center;

}

h1{
	color: #828271;
	font-size: 1.2em;
}

.img-campanha{
	border: 10px solid #c3c3ae;
}